body {
  background-image: linear-gradient(to bottom, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

.fblack {
  color: #000000;
}

.transparent-window {
  background-color: rgba(56, 56, 56, 0.466);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.App-logo {
  height: 40vmin;
  margin: 25px;
  pointer-events: none;
}

.red-border {
  border: 3px solid red;
}

.shadow-box {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.20);
}

.counter {
  font-size: larger;
}

.card {
  max-width: 80%;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}

.box-logo {
  box-sizing: content-box;
  width: 15%;
}

.box-profile {
  box-sizing: content-box;
  width: 7%;
}

.box-form {
  box-sizing: border-box;
  width: 40%;
  border: solid #000000 1px;
  padding: 5px;
}

.bd-example {
    position: relative;
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

